<div class="onboarding-container">
  <!-- Encabezado con el título -->
  <div class="header">
    <h1>Gian</h1>
  </div>

  <!-- Imagen inferior -->
  <div class="image-container">
    <!-- <img src="../../../../assets/images/splash/car-left.svg" alt="Car Left" class="car-left"/>
    <img src="../../../../assets/images/splash/car-right.svg" alt="Car Right" class="car-right"/> -->
    <img src="../../../../assets/images/splash/buildings.svg" alt="Buildings" class="buildings"/>
    <img src="../../../../assets/images/splash/highway.svg" alt="Highway" class="highway"/>
  </div>
</div>
