<div class="onboarding-container">
  <!-- Encabezado con el título -->
  <div class="header">
    <h1>Gian</h1>
    <img src="../../../../assets/images/splash/cloud-header-1.svg" alt="Cloud" class="cloud-header cloud-header-1"/>
    <img src="../../../../assets/images/splash/cloud-header-2.svg" alt="Cloud" class="cloud-header cloud-header-2"/>
    <img src="../../../../assets/images/splash/cloud-header-3.svg" alt="Cloud" class="cloud-header cloud-header-3"/>
    <img src="../../../../assets/images/splash/cloud-header-4.svg" alt="Cloud" class="cloud-header cloud-header-4"/>
  </div>

  <!-- Imagen inferior -->
  <div class="image-container">
    <img src="../../../../assets/images/splash/car-left.svg" alt="Car Left" class="car-left"/>
    <img src="../../../../assets/images/splash/car-right.svg" alt="Car Right" class="car-right"/>
    <img src="../../../../assets/images/splash/buildings.svg" alt="Buildings" class="buildings"/>
    <img src="../../../../assets/images/splash/highway.svg" alt="Highway" class="highway"/>
    <img src="../../../../assets/images/splash/cloud.svg" alt="Cloud" class="cloud"/>
    <img src="../../../../assets/images/splash/cloud-2.svg" alt="Cloud" class="cloud-2"/>
    <img src="../../../../assets/images/splash/cloud-3.svg" alt="Cloud" class="cloud-3"/>
    <img src="../../../../assets/images/splash/cloud-4.svg" alt="Cloud" class="cloud-4"/>
  </div>
</div>
